<div class="full-block-trainer">
  <h4>Персональный тренер</h4>
  <div class="info-trainer">
    <div class="info-photo">
      <div class="photo"></div>
      <div class="info"  *ngIf="!isLoading">
          <span>Здравствуйте!</span>
          <p>Меня зовут {{trainer.username}}.</p>
          <p>Я занимаюсь следующими видами спорта: {{trainer.typesport}}.</p>
          <p>Мой номер телефона: {{trainer.number_tel}}.</p>
          <p>Моя электронная почта: {{trainer.email}}.</p>
      </div>
    </div>
    <div class="text">
      <span>{{trainer.texttrainer}}</span>
    </div>
    <div class="trainer-set">
      <a class="btn btn-danger btn-space pull-right" id="#set" data-target="" href="">Записаться</a>
    </div>
  </div>
</div>

<div class="modal fade" id="set" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form method="POST" action="/manage/addUpdateClient">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Введите данные</h4>
                  </div>
                  <div class="modal-body">
                     <input type="text" class="form-control" placeholder="Имя" name="firstname" required><br>
                     <input type="text" class="form-control" placeholder="Номер телефона" name="number" required><br>
                     <input type="text" class="form-control" placeholder="E-mail" name="email">
                     <input type="text" name="id" hidden>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                     <button type="submit" class="btn btn-danger">Сохранить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>