.full-block-trainer
  height: 100%
  min-height: 70vh
  width: 100%
  padding: 60px 15%
  h4
    font-family: 'Poiret One', cursive
    font-size: 23px
    text-align: center
    margin: 0
  .info-trainer
    width: 100%
    height: 100%
    margin-top: 60px
    border-radius: 3px
    border: 1px #ccc solid
    padding: 3%
    .info-photo
      width: 100%
      height: 100%
      .photo
        width: 25%
        height: 25vh
        background: url("../../assets/anon.png") no-repeat center
        background-size: contain
        display: inline-block
      .info
        width: 75%
        height: 100%
        float: right
        padding-left: 4%
        display: inline-block
        font-family: 'Cormorant Garamond', sans-serif
        font-size: 20px
        color: #000
        p
          margin-bottom: 10px
        p:first-of-type
          margin-top: 10px
    .text
      width: 100%
      margin: 20px 0
      display: inline-block
      font-family: 'Cormorant Garamond', sans-serif
      font-size: 22px
      color: #000
    .trainer-set
      height: 100%
      padding: 20px 0 0 0
      width: 20%
      display: inline-block
      margin-left: 80%
      text-align: right
      a
        font-size: 18px
        font-family: 'Poiret One', cursive

