<app-toast [message]="toast.message"></app-toast>

<div class="registration">
  <h4>Регистрация</h4>
  <div class="reg-block">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <div class="input-group" [ngClass]="setClassUsername()">
        <span class="fa fa-user"></span>
        <input class="form-control" type="text" name="username" formControlName="username" placeholder="Имя пользователя" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="fa fa-envelope"></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email">
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="fa fa-key"></span>
        <input class="form-control" type="password" name="password" formControlName="password" placeholder="Пароль">
      </div>
      <div class="input-group">
        <button class="btn btn-danger btn-space pull-right" type="submit" [disabled]="!registerForm.valid"><i class="fa fa-user-plus"></i> Регистрация</button>
      </div>
      <br>
    </form>
  </div>
</div>