a
  text-decoration: none
  color: #b71c1c
  cursor: pointer
.container-fluid
  min-height: 70vh
  width: 100%
  padding: 60px 10%
  font-family: 'Poiret One', cursive
  font-size: 23px
  text-align: center
  .tab-content
    border-radius: 3px
    border: 1px #ccc solid
    .row
      width: 100%
      margin: 20px 0 0 0
      padding: 0 3%
      h3
        margin: 0
      a
        margin-top: 20px
        color: #ffffff
        float: right
      table
        width: 100%
        td
          text-align: left
          width: 25%
        .dropdown
          .dropdown-menu
            padding: 0 30px 15px 30px
            li
              a
                color: #b71c1c
                font-size: 16px
                font-weight: bold
.form-check
  display: flex
  flex-wrap: wrap
  .form-check-div
    width: 25%
select
  width: 45%
  margin-left: 15px