<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="container-fluid">
   <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" role="tab" href="#classes">
       Занятия
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab"  href="#clients">
       Клиенты
      </a>
    </li>  
   </ul>


         <div class="tab-content">
            <div id="classes" class="tab-pane fade in active" role="tabpanel">
               <div class="row">
                  <h3>Занятия </h3>
                  <a class="btn btn-danger btn-space" data-toggle="modal" id="creater-recurrent-action" data-target="#create-recurrent-class">
                     Добавить новое занятие
                  </a>
               </div>
               <div class="row" *ngIf="!isLoading">
                  <div class="table-classes">
                     <table class="table table-hover">
                        <tr>
                           <th>Дата</th>
                           <th>Название занятия</th>
                           <th>Время начала</th>
                           <th>Длительность</th>
                           <th>Клиент</th>
                           <th>Действия</th>
                        </tr>

                        <tr *ngFor="let exercise of user.classes">
                           <td>{{exercise.date}}</td>
                           <td>{{exercise.name}}</td>
                           <td>{{exercise.time}}</td>
                           <td>{{exercise.duration}}</td>
                           <td>{{exercise.client}}</td>
                           <td>
                              <div class="dropdown">
                                 <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    Действия
                                    <span class="caret"></span>
                                 </button>
                                 <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" id="edit-class-action" (click)="enableEditingExer(exercise)"
                                       data-toggle="modal" data-target="#edit-class">Редактировать</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-1" id="delete-class-action" (click)="enableDeletingExer(exercise)"
                                       data-toggle="modal" data-target="#delete-class">Удалить занятие</a></li>
                                 </ul>
                              </div>
                           </td>
                        </tr>

                     </table>
                  </div>
               </div>
            </div>
            <div id="clients" class="tab-pane fade" role="tabpanel">
               <div class="row">
                  <h3>Клиенты</h3>
                  <a class="btn btn-danger btn-space pull-right" data-action="create" data-toggle="modal" data-target="#create-client">
                  Добавить нового клиента
                  </a>
                </div>
                <div class="row" *ngIf="!isLoading">
                  <table class="table table-hover table-justify">
                     <tr>
                        <th>
                           Имя
                        </th>
                        <th>
                           Фамилия
                        </th>
                        <th>
                           Номер телефона
                        </th>
                        <th>
                           Email
                        </th>
                        <th>
                           Действия
                        </th>
                     </tr>
                     
                     <tr  *ngFor="let client of user.clients">
                        <td>
                           {{client.name}}
                        </td>
                        <td>
                           {{client.lastname}}
                        </td>
                        <td>
                           {{client.number}}
                        </td>
                        <td>
                           {{client.email}}
                        </td>
                        <td>
                           <div class="dropdown" >
                              <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                              Действия
                              <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                 <li role="presentation">
                                    <a role="menuitem" (click)="enableEditing(client)" tabindex="-1" href="" data-action="edit" data-toggle="modal"
                                       data-target="#update-client">Редактировать</a>
                                 </li>
                                 <li role="presentation">
                                    <a role="menuitem" (click)="enableDeleting(client)" tabindex="-1" href="" data-toggle="modal" data-target="#delete-client">Удалить клиента</a>
                                 </li>
                              </ul>
                           </div>
                        </td>
                     </tr>
                     
                  </table>
               </div>
            </div>
         </div>


</div>



      <!-- Модальные окна -->
    <div class="modals-wrap">
    <div class="modals">

      <!-- Модальное окно для создания клиента -->
      <div class="modal fade" id="create-client" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form [formGroup]="addClientForm" (ngSubmit)="addClient(user)">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Заполните поля</h4>
                  </div>
                  <div class="modal-body">
                     <div class="input-group" [ngClass]="setClientName()">
                        <input type="text" class="form-control" placeholder="Имя" name="name" formControlName="name">
                     </div>
                     <br>
                     <div class="input-group" [ngClass]="setClientLastname()">
                        <input type="text" class="form-control" placeholder="Фамилия" formControlName="lastname" name="lastname">
                     </div>
                     <br>
                     <div class="input-group" [ngClass]="setClientNumber()">
                        <input type="text" class="form-control" placeholder="Номер телефона" name="number" formControlName="number">
                     </div>
                     <br>
                     <div class="input-group" [ngClass]="setClientEmail()">
                        <input type="text" class="form-control" placeholder="Email" name="email" formControlName="email">
                     </div>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                     <button type="submit" class="btn btn-danger" [disabled]="!addClientForm.valid">Сохранить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

       <!-- Модальное окно для изменения клиента -->
       <div class="modal fade" id="update-client" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
          <div class="modal-dialog" role="document">
             <div class="modal-content">
                <form  #form="ngForm" (ngSubmit)="editClient(user, client)">
                   <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="ModalLabel">Заполните поля</h4>
                   </div>
                   <div class="modal-body">
                      <input type="text" class="form-control" name="name" [(ngModel)]="client.name"><br>
                      <input type="text" class="form-control" name="lastname" [(ngModel)]="client.lastname"><br>
                      <input type="text" class="form-control" name="number" [(ngModel)]="client.number" required><br>
                      <input type="text" class="form-control" name="email" [(ngModel)]="client.email">
                   </div>
                   <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                      <button type="submit" class="btn btn-danger">Сохранить</button>
                   </div>
                </form>
             </div>
          </div>
       </div>

       <!-- Модальное окно для удаления клиента -->
      <div class="modal fade" id="delete-client" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form #form="ngForm" (ngSubmit)="deleteClient(user, client)">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Удалить клиента?</h4>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                     <button type="submit" class="btn btn-danger">Удалить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

      <!-- Модальное окно для создания занятия -->
      <div class="modal fade" id="create-recurrent-class" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form [formGroup]="addClassForm" (ngSubmit)="addClass(user)">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Создание нового занятия</h4>
                  </div>
                  <div class="modal-body">
                     <div class="row">
                        <div class="col-sm-6">
                           <input type='date' class="form-control" name="start_date" placeholder="Дата начала занятий" formControlName="start_date" required/>
                        </div>
                        <div class="col-sm-6">
                           <input type='date' class="form-control" name="end_date" placeholder="Дата окончания занятий" formControlName="end_date" required/>
                        </div>
                     </div>
                     <br>
                     <div class="panel panel-default">
                        <div class="panel-heading">Повторять по дням:</div>
                        <div class="panel-body">
                           <div class="form-check">
                              <div *ngFor="let choice of checks; let i=index" class="form-check-div">
                                 <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" [value]="choice.value" (change)="onCheckChange($event)">
                                    {{choice.description}}
                                 </label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="input-group" [ngClass]="setClassName()">
                        <input type="text" class="form-control" placeholder="Описание занятия" name="class_name" formControlName="class_name" required>
                     </div><br>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="input-group" [ngClass]="setClassTime()">
                              <input type="text" class="form-control" placeholder="Время начала" name="time_class" formControlName="time_class" required>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="input-group" [ngClass]="setClassDuration()">
                              <input type="text" class="form-control" placeholder="Длительность" name="duration" formControlName="duration" required>
                           </div>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <select class="form-control" name="client_name" formControlName="client_name" required>
                           <option disabled selected>Выберите клиента</option>
                           <option *ngFor="let client of user.clients" [value]="client.name + ' ' + client.lastname">{{client.name}} {{client.lastname}}</option>
                        </select>
                     </div>
                     <br>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                        <button type="submit" class="btn btn-danger" [disabled]="!addClassForm.valid">Создать</button>
                     </div>
                   </div>
               </form>
               </div>
            </div>
         </div>
      
      <!-- Модальное окно для изменения занятия -->
      <div class="modal fade" id="edit-class" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form #form="ngForm" (ngSubmit)="editClass(user, exercise)">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Изменение занятия</h4>
                  </div>
                     <input type="text" class="form-control" placeholder="Название" name="name" [(ngModel)]="exercise.name" required><br>
                     <input type="text" class="form-control" placeholder="Время начала" name="start_time" [(ngModel)]="exercise.time" required><br>
                     <input type="text" class="form-control" placeholder="Длительность" name="duration" [(ngModel)]="exercise.duration" required>
                     <br>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                     <button type="submit" class="btn btn-danger">Сохранить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

      <!-- Модальное окно для удаления занятия -->
      <div class="modal fade" id="delete-class" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form #form="ngForm" (ngSubmit)="deleteClass(user, exercise)">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Удалить это занятие?</h4>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                     <button type="submit" class="btn btn-danger">Удалить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>

</div>
</div>
