<app-toast [message]="toast.message"></app-toast>

<div class="authorisation">
  <h4>Авторизация</h4>
  <div class="auth-block">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="input-group" [ngClass]="setClassEmail()">
        <span class="fa fa-envelope"></span>
        <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
      </div>
      <div class="input-group" [ngClass]="setClassPassword()">
        <span class="fa fa-key"></span>
        <input class="form-control" id="pass-log" type="password" name="password" formControlName="password" placeholder="Пароль">
      </div>
      <br>
      <div class="input-group">
        <button class="btn btn-danger btn-space pull-right" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Войти</button>
      </div>
      <br>
    </form>
  </div>
</div>
