<app-loading [condition]="isLoading"></app-loading>

<div class="none-trainers"  *ngIf="!isLoading && trainers.length === 0">
    <span>Пока что нет ни одного тренера, зайдите позже</span>
  </div>

<div class="list-of-trainers"  *ngIf="!isLoading">
  <h4>Тренеры ({{trainers.length}})</h4>
  <div class="trainers" *ngIf="!isEditing">
    <div class="trainer" *ngFor="let item of pagedItems">
      <div class="photo"></div>
      <div class="info">
        <div class="contacts">
          <a id="name" [routerLink]="['/trainers', item._id]" routerLinkActive="active">{{item.username}}</a>
          <p>Виды спорта: {{item.typesport}}</p>
        </div>
        <div class="contacts">
          <span>Номер телефона: {{item.number_tel}}</span>
          <p>Email: {{item.email}}</p>
        </div>
        <div class="contacts-set">
          <a class="btn btn-danger btn-space pull-right" id="#set" data-target="" href="">Записаться</a>
        </div>
    </div>
  </div>
  </div>
  <div class="pagination" *ngIf="pager.pages && pager.pages.length!=1">
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(1)">First</a>
        <a [ngClass]="{disabled:pager.currentPage === 1}" (click)="setPage(pager.currentPage - 1)">Previous</a>
        <a *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" (click)="setPage(page)">{{page}}</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.currentPage + 1)">Next</a>
        <a [ngClass]="{disabled:pager.currentPage === pager.totalPages}" (click)="setPage(pager.totalPages)">Last</a>
  </div>
</div>

<div class="modal fade" id="set" tabindex="-1" role="dialog" aria-labelledby="ModalLabel">
         <div class="modal-dialog" role="document">
            <div class="modal-content">
               <form method="POST" action="/manage/addUpdateClient">
                  <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title" id="ModalLabel">Введите данные</h4>
                  </div>
                  <div class="modal-body">
                     <input type="text" class="form-control" placeholder="Имя" name="firstname" required><br>
                     <input type="text" class="form-control" placeholder="Номер телефона" name="number" required><br>
                     <input type="text" class="form-control" placeholder="E-mail" name="email">
                     <input type="text" name="id" hidden>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
                     <button type="submit" class="btn btn-danger">Сохранить</button>
                  </div>
               </form>
            </div>
         </div>
      </div>