a
  cursor: pointer
.none-trainers
  min-height: 68vh
  width: 100%
  padding: 60px 15%
  font-family: 'Poiret One', cursive
  font-size: 23px
  text-align: center
.list-of-trainers
  height: 100%
  min-height: 68vh
  width: 100%
  padding: 60px 15%
  h4
    font-family: 'Poiret One', cursive
    font-size: 23px
    text-align: center
    margin: 0
  .trainers
    margin-bottom: 40px
    .trainer
      width: 100%
      height: 15vh
      margin-top: 40px
      border-radius: 3px
      border: 1px #ccc solid
      .photo
        width: 15%
        height: 100%
        background: url("../../assets/anon.png") no-repeat center
        background-size: 70%
        display: inline-block
      .info
        width: 85%
        height: 100%
        float: right
        padding: 2.5% 3% 3% 4%
        display: inline-block
        font-family: 'Cormorant Garamond', sans-serif
        font-size: 20px
        color: #000
        .contacts
          float: left
          width: 40%
          height: 100%
          a
            color: #b71c1c
            text-decoration: none
          p
            margin: 3% 0 0 0
            padding: 0
        .contacts-set
          height: 100%
          float: left
          width: 20%
          padding: 2% 0 0 0
          a
            font-size: 18px
            font-family: 'Poiret One', cursive
  .pagination
    width: 100%
    height: 100%
    margin: 0
    padding: 20px 30%
    display: inline-flex
    flex-direction: row
    align-items: center
    align-content: space-around
    flex-wrap: wrap
    justify-content: space-around
    a
      padding: 5px
      font-size: 16px
      font-family: 'Poiret One', cursive
      color: #000




