<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="account" *ngIf="!isLoading">
  <h4>Информация о вас</h4>
  <div class="account-block">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <div class="input-group">
        <span class="fa fa-user"></span>
        <input class="form-control" type="text" name="username" [(ngModel)]="user.username" placeholder="Имя" required>
      </div>
      <div class="input-group">
        <span class="fa fa-envelope"></span>
        <input class="form-control" type="email" name="email" [(ngModel)]="user.email" placeholder="Email" required>
      </div>
      <div class="input-group">
        <span class="fa fa-fax"></span>
        <input class="form-control" type="number_tel" name="number_tel" [(ngModel)]="user.number_tel" placeholder="Номер телефона" required>
      </div>
      <div class="input-group">
        <span class="fa fa-vcard"></span>
        <input class="form-control" type="number_tel" name="typesport" [(ngModel)]="user.typesport" placeholder="Виды спорта" required>
      </div>
      <div class="input-group">
        <span class="fa fa-tasks"></span>
        <textarea class="form-control" type="texttrainer" name="texttrainer" [(ngModel)]="user.texttrainer" placeholder="Расскажите о себе" style="resize:none"></textarea>
      </div>
      <br>
      <div class="input-group">
        <button class="btn btn-danger" type="submit" [disabled]="!accountForm.form.valid">
          <i class="fa fa-save"></i> Сохранить
        </button>
      </div>
      <br>
    </form>
  </div>
</div>