*
  box-sizing: border-box
.account
  width: 100%
  background: #fff
  padding: 60px 25%
  border-radius: 5px
  display: inline-block
  margin-bottom: 20px
  h4
    font-family: 'Poiret One', cursive
    font-size: 23px
    text-align: center
    margin: 0
  .account-block
    margin-top: 60px
    border-radius: 3px
    border: 1px #ccc solid
    text-align: center
    form
      .input-group
        width: 100%
        padding: 0 10%
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: baseline
        height: 100%
        button
          font-size: 18px
          font-family: 'Poiret One', cursive
        .form-control
          display: block
          font-size: 18px
          padding: 10px
          margin-top: 40px
          font-family: 'Cormorant Garamond', serif
          color: #0a0a0a
          width: 85%
          border-radius: 3px
          border: 1px #ccc solid       
    .form:first-of-type
      margin-bottom: 15px