nav
  width: 100%
  height: 7vh
  background: #0a0a0a
  padding: 0 20%
  display: inline-flex
  flex-direction: row
  justify-content: space-around
  flex-basis: 7vh
  align-items: center
  a
    color: #ffffff
    font-size: 23px
    flex-wrap: wrap
    font-family: 'Poiret One', cursive
