  <nav>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-home"></i> Главная
      </a>
      <a routerLink="/trainers" routerLinkActive="active">
        <i class="fa fa-address-book"></i>Тренеры
      </a>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-sign-in"></i> Вход
      </a>
      <a routerLink="/register" routerLinkActive="active" *ngIf="!auth.loggedIn">
        <i class="fa fa-user-plus"></i> Регистрация
      </a>
      <a routerLink="/account" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-user"></i> Аккаунт ({{auth.currentUser.username}})
      </a>
      <a routerLink="/shedule" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-list"></i> Расписание
      </a>
      <a routerLink="/admin" routerLinkActive="active" *ngIf="auth.loggedIn && auth.isAdmin">
          <i class="fa fa-list"></i> Админ
      </a>
      <a routerLink="/logout" routerLinkActive="active" *ngIf="auth.loggedIn">
        <i class="fa fa-sign-out"></i> Выход
      </a>
      
  </nav>

  <router-outlet></router-outlet>