@import url('https://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic')
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond&subset=cyrillic')
*
  box-sizing: border-box
body,html
  margin: 0
  padding: 0
  min-height: 100vh
  a
    text-decoration: none
  app-root
    min-height: 73vh
  footer
    display: flex
    flex-direction: row
    align-content: center
    align-items: center
    justify-content: space-around
    background-color: #0a0a0a
    font-family: 'Poiret One', cursive
    font-size: 23px
    width: 100%
    padding: 50px 5%
    a
      color: #fff !important
    a:hover
      color: #fff !important
    a:active
      color: #fff !important
    .social
      width: 20%
      display: inline-flex
      flex-direction: row
      justify-content: space-around
      align-items: center
      height: 100%
      flex-wrap: wrap
      align-content: stretch
      text-align: center
      .social-text
        width: 100%
        color: #ffffff
        font-family: "Poiret One", cursive
    .about
      width: 20%
      height: 100%
      color: #ffffff
      padding: 15px 0
      font-family: "Poiret One", cursive