<div class="container">
  <div class="description">
    <h1>Персональный тренер</h1>
    <p>Мы упрощаем вашу работу</p>
  </div>

</div>

<div class="cont">

  <div class="stats">
    <div class="item"><div class="count">1,600</div><div class="text">квалифицированных тренеров</div></div>
    <div class="item"><div class="count">18,000</div><div class="text">довольных тренировками клиентов</div></div>
    <div class="item"><div class="count">120,000</div><div class="text">успешно проведенных тренировок</div></div>
    <div class="item" last><div class="count">95%</div><div class="text">клиентов остаются с нами после 1-го посещения</div></div>
  </div>


  <div class="subcont">
    <h1>Как это работает</h1>


    <div class="how">

      <div class="item">
        <div class="count">1</div>
        <div class="symbol" style="background: url(./../../assets/contact.png) no-repeat center;"></div>
        Определитесь с видом спорта
      </div>

      <div class="item">
        <div class="count">2</div>
        <div class="symbol" style="background: url(./../../assets/search.png) no-repeat center;"></div>
        Подберите персонального тренера
      </div>

      <div class="item">
        <div class="count">3</div>
        <div class="symbol" style="background: url(./../../assets/complete.png) no-repeat center;"></div>
        Отправьте контактные данные тренеру и ждите ответ
      </div>

    </div>
  </div>


  <div class="subcont">
    <h1>Почему именно мы</h1>
    <div class="why">
      <div class="item" style="background: url(./../../assets/quick.png) no-repeat 60px 8px;">
        <h2>Быстро</h2>
        Мгновенный поиск тренеров согласно вашему запросу
      </div>

      <div class="item" style="background: url(./../../assets/free.png) no-repeat 60px 8px;">
        <h2>Бесплатно</h2>
        Полностью бесплатный сервис
      </div>
    </div>

    <div class="why">
      <div class="item" style="background: url(./../../assets/easy.png) no-repeat 60px 8px;">
        <h2>Просто</h2>
        Интуитивно понятный, современный интерфейс
      </div>

      <div class="item" style="background: url(./../../assets/ind.png) no-repeat 60px 8px;">
        <h2>Удобно</h2>
        Доступ к сайту с любого устройства
      </div>

    </div>

  </div>

  <div class="subcont">
    <h1>Отзывы</h1>
    <div class="work-desc">Наши клиенты всегда довольны</div>
    <div class="workers">
      <div class="review">
        <div class="photo-review">
          <div class="photo" style="background: url(./../../assets/3.jpg) no-repeat center; background-size: contain"></div>
        </div>
        <div class="review-container">
          <div class="review-header">Олег, 28 лет, фитнес-инструктор</div>
          <div class="review-text">5 лет работаю фитнес-инструктором и всегда была проблема с составлением расписаний.
            Благодаря сайту "Персональный тренер" работа стала организованней, появилось больше свободного времени.</div>
        </div>
      </div>
      <div class="review">
        <div class="photo-review">
          <div class="photo" style="background: url(./../../assets/2.jpg) no-repeat center; background-size: contain"></div>
        </div>
        <div class="review-container">
          <div class="review-header">Юлия, 25, бухгалтер</div>
          <div class="review-text">Очень понравился сайт, помимо большого выбора персональных тренеров, очень быстрая связь,
            а так же можно подобрать тренера по нужным дисциплинам поближе к дому.</div>
        </div>
      </div>
      <div class="review">
        <div class="photo-review">
          <div class="photo" style="background: url(./../../assets/1.jpg) no-repeat center; background-size: contain"></div>
        </div>
        <div class="review-container">
          <div class="review-header">Анна, 23 года, тренер, консультант по фитнесу</div>
          <div class="review-text">Удобный сайт по составлению расписания, не только оптимизация рабочего времени,
            но и поиск новых клиентов. За месяц количество клиентов увеличилось вдвое, за что очень благодарна.</div>
        </div>
      </div>
      <div class="review">
        <div class="photo-review">
          <div class="photo" style="background: url(./../../assets/2.jpg) no-repeat center; background-size: contain"></div>
        </div>
        <div class="review-container">
          <div class="review-header">Мария, 38 лет, домохозяйка</div>
          <div class="review-text">Спасибо огромное, удалось подобрать тренера не только в пешей доступности, но и сразу согласовать удобное для нас обоих время.
            Удалось выкроить часик, чтобы начать снова следить за собой.</div>
        </div>

      </div>
    </div>
  </div>

</div>