*
  box-sizing: border-box
$primary-color: #0a0a0a
input[placeholder]
  text-overflow: ellipsis
::-webkit-input-placeholder
  color: $primary-color

.container
  width: 100%
  height: 93vh
  color: #fff
  display: flex
  align-items: center
  justify-content: center
  background: url('../../assets/personalt.png') no-repeat center
  background-size: cover
  .description
    float: left
    width: 90%
    font-family: 'Poiret One', cursive
    h1
      font-size: 40px
    p
      font-size: 28px
      margin-top: 10px
.cont
  font-family: 'Poiret One', cursive
  color: #000
  h1
    margin: 0 0 50px
    font-size: 20px
    letter-spacing: 2px
    text-align: center
    text-transform: uppercase
    font-weight: bold
  .subcont
    display: inline-block
    width: 100%
    border-bottom: rgba(92, 106, 114, 0.15) 1px solid
    padding: 90px 0
    .work-desc
      font-size: 20px
      text-align: center
      width: 50%
      margin: auto
    .workers
      padding: 0 13%
      margin: 20px auto
      display: flex
      justify-content: space-between
      .review
        width: 23%
        padding: 5px
        .review-container
          width: 100%
          .review-header
            width: 100%
            text-align: center
            margin: 10px 0
          .review-text
            text-align: center
        .photo-review
          width: 100%
          padding-left: 35%
          height : 75px
          .photo
            width: 75px
            height: 75px
            background: #777
            border-radius: 50px
            border: rgba(92, 106, 114, 0.24) 1px solid
            float: left
            margin-right: 15px
            opacity: 0.8
            -webkit-filter: grayscale(50%)
            transition: 0.3s
          .photo:hover
            opacity: 1
            -webkit-filter: grayscale(0%)
  .stats
    display: table
    border: rgba(78, 91, 99, 0.3) 1px solid
    border-radius: 3px
    width: 70%
    margin: -71px auto 0 auto
    background: #F9F9F9
    .item[last]
      border-right: none
    .item
      display: table-cell
      width: 25%
      box-sizing: border-box
      text-align: center
      border-right: rgba(78, 91, 99, 0.3) 1px solid
      .count
        font-size: 26px
        padding: 25px 0 0 0
      .text
        font-size: 20px
        padding: 20px
  .how
    display: table
    margin: auto
    width: 78%
    .item
      text-align: center
      float: left
      display: inline-block
      font-size: 20px
      width: 33%
      box-sizing: border-box
      .count
        text-align: center
        font-size: 30px
        border: #5c6a72 1px solid
        border-radius: 100%
        margin: 0 auto 20px auto
        line-height: 48px
        width: 50px
        height: 50px
        box-sizing: border-box
      .symbol
        width: 100%
        height: 150px
  .why
    display: table
    margin: 0 auto 40px auto
    .item
      float: left
      box-sizing: border-box
      margin-bottom: 20px
      font-size: 20px
      width: 400px
      padding-left: 120px
      padding-right: 20px
      color: #5c6a72
      h2
        font-weight: normal
        margin: 0 0 10px 0
